 html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}
/* Home */
.header-container{
	height: 100px;
	position: absolute;
  top: 0;
}
.logo-container img{
    width: auto;
    height: 90px;
}
.carousel-items{
	max-height: 350px;
	background-color: #3F51B5;
}
.map{
	width: 100%;
	height: 300px;
	background-color: antiquewhite;
}

.item img {
	margin: 0 auto;
}
a .add-mall-text{
	margin-top: 20%;
	font-size: 70px;
	margin: 70px;
	margin-left: 26%;
}

.add-mall-text{
	color: white;
}
/* 
.has-header{
	padding: 70px;
} */
.mall-list-content{
	background-color: rgba(255, 255, 255, 0.75);
}
.mall-list-content .container{
	width: 768px;
}
.mall-list-images{
	padding: 25px;
	position: relative;
  overflow: hidden;
}
.mall-list-images img{
	width: 100%;
}
.mall-options{
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	transition: top 0.5s linear ;
}
.mall-options a {
	display: block;
	text-align: center;
	padding: 9px 0;
	color: white;
}
.mall-list-images:hover .mall-options{
	top: 0;	
}
/* Mall List */
.mall-list-container{
	background: url('/images/map.png') no-repeat;
	background-size: cover;
	margin-top: 85px;
}
/* Mall detail */
.mall-image{
	/* background: url('/images/agora3.jpg') no-repeat; */
	/* background-size: cover; */
	height: 250px;
	width: 100%;
	background-color: rgb(202, 223, 170);
}

.mall-image img{
	width: 20%;
	margin-left: 30%;
}
.mall-title{
	position: absolute;
	color: white;
	left: 50%;
	font-family: inherit;
	/*bottom: 34px;*/
	font-size: 90px;

}
.mall-container{
	margin: 30px; 
}
